In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_resume_dataset.csv', encoding='latin1')

In [7]:
# category_mapping = {
#     "PMO": "Project Management", 
#     "Python Developer": "Python",  
#     "Database": "Database_Administrator",  
#     "Network Security Engineer": "Network_Administrator", 
# }

In [13]:
unique_category_count = df['category'].nunique()
print(f"Count of unique values in 'category' column: {unique_category_count}")

Count of unique values in 'category' column: 34

In [26]:
# df.fillna(method='bfill', inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_6188\3314729575.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

In [14]:
category_value_counts = df['category'].value_counts()

# Resetting the index to remove multi-level index
category_value_counts_reset = category_value_counts.reset_index()

# Save unique values and their counts to a CSV file
category_value_counts_reset.to_csv("category_counts.csv", header=['category', 'count'], index_label='unique_value')

In [15]:
import numpy as np

In [28]:
import re
import nltk
from bs4 import BeautifulSoup

def cleanResume2(html_data):
    # Remove HTML tags
    soup = BeautifulSoup(html_data)
    text = soup.get_text()

    # Remove unwanted characters
    text = re.sub(r'[^\w\s]', '', text)

    # Normalize text
    text = text.lower()
    text = nltk.PorterStemmer().stem(text)

    # Remove stop words
    stopwords = nltk.corpus.stopwords.words('english')
    text = ' '.join([word for word in text.split() if word not in stopwords])

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Handling contractions
    text = nltk.word_tokenize(text)
    text = [nltk.WordNetLemmatizer().lemmatize(word) for word in text]
    text = ' '.join(text)

    # Removing Non−Textual Elements
    text = re.sub(r'\[[^\]]+\]', '', text)
    return text

In [30]:
r1 = """Database_Administrator,"Junior Database Administrator Junior <span class=""hl"">Database</span> <span class=""hl"">Administrator</span> Washington, DC • Install and configure SQL servers  • Undertake administering SQL Server 2012/2014 /2016 and 2017 in a production and non-production environment.  • Experienced using Relational Database Services, Microsoft Tools and Windows Applications (T-SQL, SQL Server Management Studio, SSIS, SQL Server Configuration Manager, OneNote, SharePoint, Outlook, PowerPoints, Microsoft access and Excel)  • Proficient in core DBA tasks: installation, migration, configuration, designing and implementing disaster recovery procedures, excellent problem-solving ability, a good team player and ability to learn newly emerging technologies.  • Proficient with SQL Management Studio, SQL Server Agent, SQL Profiler, restore databases using full, deferential and log backups  • Experience in developing T-SQL(DDL, DML and DCL) statements  • Hands on experience in database administration roles including server installation, configuration, upgrade, maintenance, performance tuning, automating jobs, ensure database security and integrity  • Experience in solving real-time issues such as Index fragmentation, DBCC checks, Query Tuning  • Experience in normalization, database design, performance analysis and production support  • Excellent communication, planning, organizing and problem-solving skill with the ability to work independently as well as effectively collaborating with team members and all levels of management  • Competent in writing and troubleshooting store procedures  • Experienced in communication, presentation and people skill  • Proactive learner and capable to master and implement new technologies  • Analytical skill, problem solver and innovative  • Excellent team player, high collaborator and self-starter    Areas of Expertise & knowledge Include:    • Installation/Configuration  • SQL Server Migration  • Maintenance and troubleshooting  • Database Security  • Index Tuning and management  • SQL Profiler  • SSIS Database Design  • Database Encryption  • Replication  • Monitor database activity & queries  • T-SQL  • Backup and Restore  • TDE Encryption  • Mirroring and Log Shipping  • Clustering  • Manage SQL server instance  • Configure data access and  permissions  • MS Access VBA (Forms/Reports/Macros/Modules)  • MS Excel VBA (Forms/Macros/Charts/Pivot tables)  • BI Tools: Tableau Desktop, Tableau Server Work Experience Junior Database Administrator FREDDIE MAC 2014 to Present • Installed, configured and administered MS SQL server 2012, 2014, 2016 and 2017.  • Create new database objects like Tables, Procedures, Functions, Indexes and Views using T-SQL  • Database Backup Procedures, Restoration Procedures, Disaster Recovery procedures and Contingency plans. Tested and Implemented these procedures.  • Hands on experience in performance tuning and optimization to ensure database stability.  • Configure log shipping for multiple databases as part of Disaster recovery.  • Monitor success and failure of automated jobs, monitored system availability, documentation of database  • Worked on permission requests for database access.  • Manage storage requirements  • Manage and monitor SQL server instances  • Create on demand report using advanced T-SQL scripts  • Tuning and optimizing query, tuning queries which are running slow using profiler and statistics  • Proactive approach to resolving any anticipated database issues. Utilize available tools, research external tools and maintain custom SQL alerts to diagnose and troubleshoot issues. Education Bachelors Computer Science University of the District Of Columbia Skills DBA, Sql Server, Sql Dba, MYSQL"
"
"""
print(cleanResume2(r1))

database_administratorjunior database administrator junior database administrator washington dc install configure sql server undertake administering sql server 20122014 2016 2017 production nonproduction environment experienced using relational database service microsoft tool window application tsql sql server management studio ssis sql server configuration manager onenote sharepoint outlook powerpoints microsoft access excel proficient core dba task installation migration configuration designing implementing disaster recovery procedure excellent problemsolving ability good team player ability learn newly emerging technology proficient sql management studio sql server agent sql profiler restore database using full deferential log backup experience developing tsqlddl dml dcl statement hand experience database administration role including server installation configuration upgrade maintenance performance tuning automating job ensure database security integrity experience solving realtime issue index fragmentation dbcc check query tuning experience normalization database design performance analysis production support excellent communication planning organizing problemsolving skill ability work independently well effectively collaborating team member level management competent writing troubleshooting store procedure experienced communication presentation people skill proactive learner capable master implement new technology analytical skill problem solver innovative excellent team player high collaborator selfstarter area expertise knowledge include installationconfiguration sql server migration maintenance troubleshooting database security index tuning management sql profiler ssis database design database encryption replication monitor database activity query tsql backup restore tde encryption mirroring log shipping clustering manage sql server instance configure data access permission m access vba formsreportsmacrosmodules m excel vba formsmacroschartspivot table bi tool tableau desktop tableau server work experience junior database administrator freddie mac 2014 present installed configured administered m sql server 2012 2014 2016 2017 create new database object like table procedure function index view using tsql database backup procedure restoration procedure disaster recovery procedure contingency plan tested implemented procedure hand experience performance tuning optimization ensure database stability configure log shipping multiple database part disaster recovery monitor success failure automated job monitored system availability documentation database worked permission request database access manage storage requirement manage monitor sql server instance create demand report using advanced tsql script tuning optimizing query tuning query running slow using profiler statistic proactive approach resolving anticipated database issue utilize available tool research external tool maintain custom sql alert diagnose troubleshoot issue education bachelor computer science university district columbia skill dba sql server sql dba mysql

In [31]:
# df['resume'] = df['resume'].apply(lambda x: cleanResume(x))
df['resume'] = df['resume'].apply(cleanResume2)

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder



# Assuming 'category' is the column you want to label encode
categories = df['category']  # Replace 'category' with your actual column name

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categories to label encoded values
encoded_labels = label_encoder.fit_transform(categories)

# Create a dictionary to store the mapping of label encoded values to category names
label_mapping = dict(zip(encoded_labels, categories))

# Save the label encoding mapping to a CSV file
label_mapping_df = pd.DataFrame(list(label_mapping.items()), columns=['Encoded_Label', 'Category'])
label_mapping_df.to_csv('label_mapping.csv', index=False)
label_mapping_df

    Encoded_Label                   Category
0               8     Database_Administrator
1              30      Systems_Administrator
2              23            Project_manager
3              29         Software_Developer
4              33              Web_Developer
5              28           Security_Analyst
6              20      Network_Administrator
7              17             Java_Developer
8              25           Python_Developer
9               6               Data Science
10             13                         HR
11              0                   Advocate
12              1                       Arts
13             32              Web Designing
14             18        Mechanical Engineer
15             27                      Sales
16             15         Health and fitness
17              5             Civil Engineer
18             16             Java Developer
19              4           Business Analyst
20             26              SAP Developer
21              2         Automation Testing
22             12     Electrical Engineering
23             21         Operations Manager
24             24           Python Developer
25              9            DevOps Engineer
26             19  Network Security Engineer
27             22                        PMO
28              7                   Database
29             14                     Hadoop
30             11              ETL Developer
31             10           DotNet Developer
32              3                 Blockchain
33             31                    Testing

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

tfidf.fit(df['resume'])
requiredText  = tfidf.transform(df['resume'])

# from sklearn.feature_extraction.text import CountVectorizer

# count_vectorizer = CountVectorizer(stop_words='english')
# count_vectorizer.fit(df['resume'])
# requiredText = count_vectorizer.transform(df['resume'])

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(requiredText, df['category'], test_size=0.2, random_state=42)

In [22]:
X_train.shape

(12682, 186616)

In [23]:
X_test.shape

(3171, 186616)

In [24]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score

clf = OneVsRestClassifier(KNeighborsClassifier())
clf.fit(X_train,y_train)
ypred = clf.predict(X_test)
print(accuracy_score(y_test,ypred))

0.7366761274046042

In [25]:
import pickle
pickle.dump(tfidf,open('tfidf.pkl','wb'))
pickle.dump(clf, open('clf.pkl', 'wb'))

In [34]:
myresume3 = """
Deepak Padhi
Learning Web Developer
Mumbai, Maharashtra
dnoobnerd@gmail.com
8123456790
Passionate to learn new technologies, skills and Always willing to innovate new things.
EDUCATION Bachelor of Science (B.Sc), Computer Science
Kirti M Doongursee College Dadar
2021 - Present
Senior Secondary (XII), Science
Vidyanidhi Jr College Of Science
Year of completion: 2020
Percentage: 00.00%
Secondary (X)
St Xavier High School
Year of completion: 2018
Percentage: 00.00%
INTERNSHIPS Crack Leaked Password Database
Forage Goldman Sachs
(Engineering Virtual Program), Virtual
Dec 2020 - Jan 2021
Learnt to Analyze results and propose uplifts to controls and
policies.
Interface With A Stock Price Data Feed
Forage Jp Morgan Chase And Co
(Software Engineering Virtual Experience), Virtual
Nov 2020 - Dec 2020
Led to Interface with a stock price data feed and set up my
system for analysis of the data, Implement the Perspective
open source code in preparation for data visualization, Use
Perspective to create the chart for the trader’s dashboard.
PROJECTS Resume Analyzer
A Résumé parsing tool that converts an unstructured
form of resume data into a structured format.
WhatsApp Chat Analyzer
A Tool that analyses user uploaded chat and as a result
visualizes data in different format
SKILLS HTML
Advanced
CSS
Intermediate
SQL
Intermediate
Node.js
Beginner
Python
Intermediate
JavaScript
Intermediate
C#
Beginner
ASP.NET
Intermediate
Online Profiles Portfolio Website
https://dnoobnerd.netlify.app/
GitHub Profile
https://github.com/deepakpadhi986/
"""

In [35]:
myresume2 = """
RAFSON JANI
JADAVPUR UNIVERSITY - B.E I.T 2024
@ aarjey1911@gmail.com # Islampur,West Bengal, India  +91-9799228391 § RJ1911 ï rj1911
EXPERIENCE
Web Development Intern | Celebal Technologies
[June 2023 - Aug 2023]
• Developed a comprehensive MERN E-Commerce platform that included
features such as product listing, detailed product views, and cart management system.
• Created Admin Panel that facilitated order management, as well as simplified product addition and editing processes.
• Integrated advanced functionalities including sorting, filtering, and pagination queries using Mongoose.
• Implemented payment options, including secure card payments through
Stripe as well as cash payments, ensuring flexibility for users during checkout.
• Added personalized features like user profiles, order tracking, and automated email notifications such as order confirmation and password reset
emails.
• Technologies Used - ReactJs,NodeJs,ExpressJs,Redux, MongoDB.
• § RJ1911/mern-ecommerce
EDUCATION
Jadavpur University
B.E Information Technology
z CGPA: 8.55 * 2020-2024
Sahara Public Senior Secondary School
Class XII
z Percentage: 82.30% * 2018
The Scholar English Medium School
Class X
z Percentage: 93.20% * 2016
TECHNICAL SKILLS
• Programming : C/ C++
• Development: HTML/CSS,JavaScript,NodeJs,ReactJs,ExpressJs, Bootstrap,TailwindCSS
• Databases: MongoDB,MySQL
• Dev Tools: VisualStudio Code, Git
COURSEWORK
Data Structures And Algorithms
Object Oriented Programming
Database Management System
Operating System
PROJECTS
Chat App
• Developed a real-time chat application using MERN stack.
• Built RESTful APIs and integrated them with React.js on the
front-end to provide a seamless user experience.
• Utilized Socket.io to establish bi-directional communication between the server and the client, allowing users to see
messages in real time without the need to refresh the page.
• Implemented user authentication and authorization using
JWT tokens and stored them securely in Local Storage to
maintain user sessions across page reloads.
• Technologies Used - ReactJs,NodeJs,ExpressJs,Socket.io,
MongoDB.
• § RJ1911/chat-room
Weather App
• Developed a weather web app that fetches realtime weather
data from the OpenWeather API.
• Designed an intuitive user interface that displays current
weather conditionslike temperature, humidity.
• Deployed the web app using GitHub Pages, ensuring that it
is accessible to users all over the world.
• Technologies used - HTML/CSS,JavaScript
• App Link
• § RJ1911/weatherApp.github.io
CODING PROFILE
Leetcode - AAR_JEY
GFG - aar_jey
GitHub - RJ1911
ACHIEVEMENTS
• Solved 500+ problems on various coding platforms
• Secured AIR 1122 out of 100,000+ participants in the
Codekaze Hiring Challenge 2023.
EXTRACURRICULAR
• Passionate about Teaching .Conducted private tutoring sessions for high school students (grades 9-12) in subjects including [Phy,Chem,Maths].
LANGUAGES
• Hindi
• English
• Bengali
"""
# Load the trained classifier
clf = pickle.load(open('clf.pkl', 'rb'))

# Clean the input resume
cleaned_resume = cleanResume2(myresume3)

# Transform the cleaned resume using the trained TfidfVectorizer
input_features = tfidf.transform([cleaned_resume])

# Make the prediction using the loaded classifier
prediction_id = clf.predict(input_features)[0]

print(prediction_id)

Data Science